:root {
  --header-bar-height: 40px;
  --sidebar-width: 230px;
  --bg-active-menu: #b39ddb;
  /* --color-active-menu: #4a148c; */
  --color-active-menu: black;
  --hover-menu: #f3f3f3;
  --bg-header: #7c43bd;
  /* --bg-sidebar: linear-gradient(180deg, #4b2c88 0%, #2a1c54 100%); */
  --bg-sidebar: #f3f3f3;
  /* --color-sidebar: white; */
  --bg-menu-container: white;
  --color-sidebar: black;
  --font-size-menu-item: 13px;
  --font-size-submenu: 12px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#Base_Component {
  margin: 0 !important;
}

#tbody {
  margin: 0;
  font-weight: 300;
  height: 100vh;
  display: flex;
}

.sidebar {
  width: var(--sidebar-width);
  /* font-family: "IBM Plex Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  background: var(--bg-sidebar);
  color: var(--color-sidebar);
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 45px;
}

.sidebar.collapsed .menu-item span,
/* Ẩn hoàn toàn submenu khi sidebar thu gọn */
.sidebar.collapsed .footer,
.sidebar.collapsed .logo #logo-img,
.sidebar:not(.collapsed) .logo #logo-mini {
  display: none;
}

.sidebar.collapsed .submenu {
  display: none !important;
}

.sidebar.collapsed .menu-item {
  justify-content: center;
  position: relative;
}

.sidebar.collapsed .menu-item:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 13px;
  z-index: 1000;
  pointer-events: none;
}

.logo {
  align-items: center;
  background: var(--bg-header);
  /* căn giữa theo chiều dọc */
  justify-content: center;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  height: var(--header-bar-height);
}

.logo #logo-img {
  height: calc(100% - 5px);
}

.logo #logo-mini {
  max-width: 40px;
  height: auto;
}

#menu-container {
  flex: 1;
  overflow-y: auto;
  /* padding: 5px; */
  box-sizing: border-box;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer and Edge */
  background-color: var(--bg-menu-container);
  border-radius: 6px;
  margin: 5px;
}

#menu-container::-webkit-scrollbar {
  display: none;
}

.footer {
  padding: 8px;
  font-size: 11px;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.menu-item {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* gap: 10px; */
  transition: background-color 0.3s;
  font-size: var(--font-size-menu-item);
}

.menu-item:hover {
  background-color: var(--hover-menu);
  /* tím nhạt hơn sidebar, nổi bật khi hover */
  border-radius: 3px;
}

.menu-item.active {
  background-color: var(--bg-active-menu);
  /* tím pastel, nổi bật trạng thái active */
  color: var(--color-active-menu);
  font-weight: bold;
  border-radius: 3px;
}

.menu-item i {
  width: 20px;
  text-align: center;
}

.toggle-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
  font-size: 11px;
}

.submenu {
  display: none;
  padding-left: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.8s;
  opacity: 0;
  border-radius: 6px;
  /* margin: 2px 0; */
  box-shadow: 0 2px 8px rgba(74, 20, 140, 0.13);
}

/* Sử dụng max-height lớn để submenu tự động fit nội dung */
.menu-item.open+.submenu {
  display: block;
  max-height: 5000px;
  /* đủ lớn để fit mọi nội dung */
  opacity: 1;
}

#menu-container>.menu-item {
  padding: 10px 5px;
  gap: 7px;
}

.submenu>.menu-item {
  padding: 8px 5px 8px 0;
  gap: 5px;
  font-size: var(--font-size-submenu);
}

.sidebar.force-open {
  width: var(--sidebar-width) !important;
  transition: none !important;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header-bar {
  height: var(--header-bar-height);
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-bar .toggle-btn {
  cursor: pointer;
  font-size: 20px;
  color: #4a148c;
  height: var(--header-bar-height);
  display: flex;
  align-items: center;
}

.header-bar .author-info {
  position: relative;
  display: inline-block;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 14px;
  color: #4a148c;
}

.header-bar .author-info .dropdown-icon {
  font-size: 12px;
  margin-left: 4px;
}

/*
.author-info:hover .dropdown-menu {
  display: flex;
  opacity: 1;
  transform: translateY(0);
} */

/* Show the dropdown when the 'show' class is added */
.dropdown-menu.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.user-trigger {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 0;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown-menu {
  position: absolute;
  display: none;
  top: 100%;
  left: 10px;
  width: calc(100% - 10px);
  min-width: unset;
  padding: 0;
  margin: 0;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1000;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: auto;
}

.dropdown-item {
  padding: 2px 8px;
  font-size: 13px;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.header-bar .author-info .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.flex-between-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

iframe {
  width: 100%;
  height: calc(100vh - var(--header-bar-height) - 5px);
  border: none;
}

#iframe-loading {
  position: absolute;
  top: var(--header-bar-height);
  /* dưới header */
  left: var(--sidebar-width);
  /* bên phải sidebar */
  width: calc(100% - var(--sidebar-width));
  height: calc(100vh - var(--header-bar-height));
  background: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  display: none;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  pointer-events: none;
  /* không chặn thao tác với iframe */
}

.iframe-spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top: 4px solid #4a148c;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-top: 20%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader-container {
  text-align: center;
  margin-top: 20%;
}

.loader-gif {
  width: 150px;
  height: 150px;
}

.loading-text {
  font-size: 16px;
  color: #333;
  font-weight: 600;
  font-style: italic;
}

.menu-group {
  font-weight: 700;
  text-transform: uppercase;
  /* padding: 5px 10px !important; */
}

.menu-group:not(:first-of-type)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--bg-sidebar);
}